*{
    background: rgb(0, 2, 14);
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    margin: 30px auto;
      
 }

.navbar{
   
    font-family: 'Roboto', sans-serif;
    color: rgb(191, 196, 201);
    text-decoration: none;
    font-size: 1.2rem;
    margin: 10rem 2rem 2rem;
 
}

.content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 6rem;
    margin-left: 2rem;
 
}

.content-text{
    color: rgb(191, 196, 201);
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;

}

.img{
    max-width: 20rem;
    border-radius: 10rem;
    margin: 2rem;
}

.typewriter {
    font-family: 'Special Elite', cursive;
    width: 100%;  
  }

  h1 {
    font-family: 'Special Elite', cursive;
    font-size: 3rem;
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
    font-weight: normal;

  }

  h1:after{
   content: '';
    display: inline-block;
    background-color: white;
    margin-left: 2px;
    height: 25px;
    width: 4px;
    animation: cursor 0.4s infinite;
  }

@keyframes cursor {
    0% { opacity: 1; }
      49% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 0; }
  }

  /*Projeto*/
  .content-projeto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .contente-projeto-iten{
    color: antiquewhite;  
    padding: 5rem 3rem 2rem;
    text-decoration: none;    
  }

  .img-iten{
    max-width: 13rem;
  }

.text-iten{
  font-family: 'Roboto', sans-serif;  
  color: antiquewhite;
}

.btnportifolio{
  border: solid 2px white ;
  color: white;
  border-radius: 50px;
  font-size: 15px;
  padding: 7px 15px;
  margin-right: 15px;
  cursor: pointer;
}

/*Contato*/
.contato{
  color: antiquewhite;
  font-family: 'Roboto', sans-serif; 
  margin: 4rem;
}

@media (max-width: 1100px) {
  .content-projeto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .contente-projeto-iten{
    color: antiquewhite;  
    padding: 5rem 3rem 2rem;
    text-decoration: none;    
  }

  .img-iten{
    max-width: 10rem;
  }

  .text-iten{
  font-family: 'Roboto', sans-serif;  
  color: antiquewhite;
  
  }
}

@media (max-width: 768px){
  .navbar{   
    font-family: 'Roboto', sans-serif;
    color: rgb(191, 196, 201);
    text-decoration: none;  
}

  .text-iten{
    font-size: 80%;
  }

  h1 {
  font-family: 'Special Elite', cursive;
  font-size: 2rem;
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  font-weight: normal;
  }

  .img{
  max-width: 10rem;
  border-radius: 10rem;
  margin: 2rem;
  }
}

@media (max-width: 668px){
  .navbar{   
    font-family: 'Roboto', sans-serif;
    color: rgb(191, 196, 201);
    text-decoration: none;
    font-size: 90%;
    margin: 5rem 1rem 1rem;
  }

  .text-iten{
  font-size: 18px;
  align-items: center;
  margin: 0 auto;
  }
  .img{
  max-width: 7rem;
  border-radius: 10rem;
  margin: 1rem;
  }
  h1 {
  font-family: 'Special Elite', cursive;
  font-size: 1rem;
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  font-weight: normal;
  }
  .text-home{
  font-size: 75%;
  }
  .content-projeto{
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
  .contente-projeto-iten{
  color: antiquewhite;  
  padding: 2rem 1rem 1rem;
  text-decoration: none;
  }
  .img-iten{
  max-width: 70%;
  }
  .text-iten{
  font-size: 60%;
  }
}

@media (max-width:361px) {
  .navbar{
    font-size: 11px;
  }
  .content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 6rem;
    margin-left: auto;
  }
  .content-projeto{
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
  .contente-projeto-iten{
  color: antiquewhite;  
  padding: 2rem 1rem 1rem;
  text-decoration: none;
  }
  .img-iten{
  max-width: 70%;
  }
  .text-iten{
  font-size: 60%;
  }
}